<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>servlet.HelloWorld</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DisplayHeader</servlet-name>
        <servlet-class>servlet.DisplayHeader</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DisplayHeader</servlet-name>
        <url-pattern>/DisplayHeader</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Refresh</servlet-name>
        <servlet-class>servlet.Refresh</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Refresh</servlet-name>
        <url-pattern>/Refresh</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowError</servlet-name>
        <servlet-class>servlet.ShowError</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowError</servlet-name>
        <url-pattern>/ShowError</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>servlet.LogFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>init create</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>servlet.ErrorHandler</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CookieTest</servlet-name>
        <servlet-class>servlet.CookieTest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CookieTest</servlet-name>
        <url-pattern>/CookieTest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadCookie</servlet-name>
        <servlet-class>servlet.ReadCookie</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadCookie</servlet-name>
        <url-pattern>/ReadCookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>servlet.SessionTrack</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/SessionTrack</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DatabaseAccess</servlet-name>
        <servlet-class>servlet.DatabaseAccess</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DatabaseAccess</servlet-name>
        <url-pattern>/DatabaseAccess</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
</web-app>